body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}
body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: url(fondo-de-pantalla.jpeg);
  background-size: cover;
  height: 100vh;

}
